<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
        <title>{{ page.title }}</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/style.css" type="text/css" />
    </head>
    <body>
        <div id="content-wrapper">
            <div id="header">
                <a id="title" href="/">Nolan Carnahan</a>
                <div id="menu">
                    <span class="menu-item"><a href="/index.html">Home</a></span>
                    <span class="menu-item"><a href="/portfolio/index.html">Portfolio</a></span>
                    <span class="menu-item"><a href="/nolan_carnahan.pdf">Resume</a></span>
                    <span class="menu-item"><a href="mailto:ncarnahan1@gmail.com" target="_blank">Email</a></span>
                </div>
            </div>
            {{ content }}
        </div>
    </body>
</html>
